* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outer-mainbox {
  height: 70vh;
  width: 55%;
  background-color: none;
  position: relative;
  right: 92px;
  z-index: 1;
}

.outer-mainbox .box-img {
  margin-right: 40em;
  margin-top: 17em;
  height: auto;
}

.mainbox {
  height: 70vh;
  width: 69vw;
  max-width: 2000px;
  border-radius: 2em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainbox__box1 {
  background-color: none;
  height: 100%;
  width: 50%;
  background-image: url(../../images/illustration-woman-online-desktop.svg), url(../../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: -80px 40% ,110% 70%;
  background-size: 99% 65%, 190% 160%;
  border-radius: 2em;
}

.mainbox__box2 {
  background-color: white;
  height: 100%;
  width: 50%;
  border-radius: 2em;
}

.mainbox__box2 .text-box {
  width: 90%;
  background-color: none;
  margin-top: 5em;
  margin-left: 2em;
}

.mainbox__box2 .main-panel {
  height: 90%;
  width: 90%;
  margin-top: 3em;
  background-color: none;
}

.mainbox__box2 .upper-acc {
  background-color: none;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainbox__box2 .question {
  font-size: 0.8rem;
  background-color: none;
  margin-top: 1em;
}

.mainbox__box2 .arrow-down {
  height: 25%;
  max-width: 5%;
  cursor: pointer;
  margin-top: 1.5em;
}

.mainbox__box2 .question:hover {
  color: red;
}

.mainbox__box2 .item {
  margin-bottom: 1em;
}

.mainbox__box2 .popup {
  color: grey;
  font-size: 13px;
  height: 0;
  line-height: 1.5;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: none;
}

.mainbox__box2 .dropdown .popup {
  opacity: 1;
  height: 5px;
  padding: 15px 0;
}

.mainbox__box2 .dropdown .arrow-down {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mainbox__box2 .dropdown .question {
  font-weight: 700;
  color: black;
}

.mobile-img {
  display: none;
}

@media screen and (max-width: 930px) {
  .outer-mainbox {
    height: 90vh;
    width: 55%;
    background-color: red;
    position: relative;
    z-index: 4;
  }
  .outer-mainbox .box-img {
    display: none;
    margin-right: 40em;
    margin-top: 17em;
    height: auto;
  }
  .mainbox {
    height: 70vh;
    width: 95vw;
    max-width: 2000px;
    border-radius: 2em;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainbox__box1 {
    background-color: none;
    height: 0;
    width: 0;
  }
  .mainbox .mobile-img {
    display: block;
    max-width: 300px;
    background-color: none;
    margin: 0 auto;
    background-image: url(../../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: 50% 98%;
  }
  .mainbox .mobile-img .mobile-position {
    height: auto;
    max-width: 100%;
    margin-top: -9em;
    background-color: none;
  }
  .mainbox__box2 {
    background-color: white;
    height: 100%;
    width: 100%;
  }
  .mainbox__box2 .faq {
    text-align: center;
  }
  .mainbox__box2 .text-box {
    width: 90%;
    background-color: none;
    margin-top: 1em;
    margin-left: 2em;
  }
  .mainbox__box2 .main-panel {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    background-color: none;
  }
}
/*# sourceMappingURL=styles.css.map */