*{
    margin:0;
    padding:0;
}

body{
   height: 100vh;
   width: 100vw;
   background-image:linear-gradient( hsl(273, 75%, 66%),hsl(240, 73%, 65%));
   background-repeat: no-repeat;
   font-size:12px;
   font-family: 'Kumbh Sans', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;  
}
.outer-mainbox{
    height: 70vh;
    width: 55%;
    background-color:none;
    position: relative;
    right:92px;
    z-index:1;

    .box-img{
   
      margin-right: 40em;
      margin-top: 17em;
      height:auto;  
    }  
}

.mainbox{
    height: 70vh;
    width: 69vw;
    max-width: 2000px;
    border-radius:2em;
    background-color:hsl(240, 100%, 100%);
    display: flex;
    
    &__box1{
        background-color:none;
        height:100%;
        width:50%;
        background-image:url(../../images/illustration-woman-online-desktop.svg), url(../../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position:-80px 40% ,110% 70%; //left to right up and dwon
        background-size: 99% 65%, 190% 160% ;//width and height
        border-radius:2em;
       
    }


    &__box2{
        background-color:white;
        height:100%;
        width:50%;
        border-radius:2em;
        
        .text-box{
            width: 90%;
            background-color:none;
            margin-top: 5em;
            margin-left:2em;
       }
       .main-panel{
           height: 90%;
           width:90%;
           margin-top: 3em;
           background-color:none;
           
       }
     
       .upper-acc{
        background-color:none;
        height: 30px;
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    
       .question{
           font-size: 0.8rem;
           background-color:none;
           margin-top: 1em;

       }
       .arrow-down{    
        height: 25%;
        max-width:5%;
        cursor: pointer; 
        margin-top: 1.5em;
    }

       .question:hover{
        color:red;
       }   

   //js related part

   .item{
    margin-bottom:1em ;
    } //keypoint

    .popup{
        color:grey;
        font-size: 13px;
        height: 0;
        line-height: 1.5;
        opacity: 0;
        transition: 0.4s ease-in-out;
        background-color:none;
    }// when not active the color aint there

    .dropdown .popup{
        opacity: 1;
        height: 5px;
        padding:15px 0;

    }//when active the color is seen

    .dropdown .arrow-down {
        transition: 0.4s ease;
        transform: rotate(180deg);
    }//when dropdown is active let the arrow flip

    .dropdown .question {
        font-weight: 700;
        color: black;
    } // when dropdown is active let the question be like that

 }

}//mainbox finishes

.mobile-img{
    display: none;
}


//smaller query

@media screen and (max-width:930px) {
     
     .outer-mainbox{
         height: 90vh;
         width: 55%;
         background-color:red;
         position: relative;
         z-index:4;
        
         .box-img{
           display: none;//new
           margin-right: 40em;
           margin-top: 17em;
           height:auto;  
         }  
     }
     
     .mainbox{
         height: 70vh;
         width: 95vw;//new
         max-width: 2000px;
         border-radius:2em;
         background-color:hsl(240, 100%, 100%);
         display: flex;
         
         &__box1{
             background-color:none;
             height:0;//make left side disspear
             width:0;
               
         }
         
         .mobile-img{
            display:block;// make mobile pic exist
            max-width: 300px;
            background-color:none;
            margin:0 auto;
            background-image: url(../../images/bg-pattern-mobile.svg);
            background-repeat: no-repeat;
            background-position:50% 98%;
           
            .mobile-position{
                height:auto;
                max-width:100%;
                margin-top:-9em;
                background-color:none;
            }// these 2 are new a needed
        }

         
        &__box2{
             
             background-color:white;
             height:100%;
             width:100%;
            
             .faq{
                 text-align: center;//new
             }
             
             .text-box{
                 width: 90%;
                 background-color:none;
                 margin-top: 1em;//new
                 margin-left:2em;
            }
            .main-panel{
                height: 90%;
                width:90%;
                margin: 0 auto;//new
                margin-top: 3em;
                background-color:none;
                
            }
          
              
        }
    }
}
